* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #fff7f0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-btn {
  background: orange;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  text-decoration: none;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.content {
  max-width: 500px;
}

.tag {
  color: orange;
}

.title {
  font-size: 50px;
}

.title span {
  color: orange;
}

.desc {
  margin: 15px 0;
  color: #555;
}

.btn {
  padding: 10px 20px;
  background: orange;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 20px;
}

.btn.outline {
  background: transparent;
  border: 2px solid orange;
  color: orange;
}

.image img {
  width: 400px;
}

/* mobile */
@media(max-width:768px){
  .hero{
    flex-direction: column;
    text-align: center;
  }

  .navbar{
    flex-direction: column;
    gap: 10px;
  }
}
